language: go
go:
- 1.10.x
jobs:
  include:
    - stage: Unit Tests
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestParseProviderConfig$
    - stage: Integration Tests
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestCreate$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestUpdate$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestDelete$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestExists$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestCreateOrUpdateDeployment$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestCreateOrUpdateDeploymentWExisting$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestVMIfExists$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestDeleteSingleVM$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestCreateGroup$
      script: travis_wait 50 go test github.com/platform9/azure-provider -test.timeout 0 -x -run ^TestGetIP$
    
before_install:                                                                 
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - sed -i 's/^ignored/\# ignored/g' Gopkg.toml
  - dep ensure -v -add "sigs.k8s.io/cluster-api/pkg"
notifications:
  slack:
    secure: DRBNr/Osy1GeDq9t8KRsBu87KVg9n3UaP0tX4d9Ek4dSN2OyGtBWhIIPqLCoBka3ZqOxds5l5q2dkQGIiki+c+pMwh1LACTVxJnzllQf1LsXOMMdlolfTiA4HbwPp6abGka7MqPgJluTWdvJNxk8VSn6gLIacgl3qnsUURxZe99wANhFa/wbEKRoQ22XmwpwioDTakMZzTvJ8lixV3RDjUyyGl98WUkTu9tI4+DQTTfB9nk43BnesvcVMxbjvOlaGzoONrfu9gmZp5jedmp6X5Vg5mM5nw7lxyPRNsF7DowMYnh3YMo/V7Rd0zDFTlJ2fFpxJ0bRKHxtiCGkr+T+yX0HizUW7rAtkbvc67z6TAlbSt4xxtM9gwZhUxVGwOPjc55T7sCRTCYs1iSmdivPIRXySzdG/o8bF9OQpMTHTKrWUHMHtBl+J5KkbqjFR7Wi4ccZPcrXXiXmcaRPVRASKIfH3gauIF3joL5SnX7fLtQAcG/R4FOVULd+ODGrMBfSUbVZi9UDjt0GBzoP3K8k0ZDwxsdvR6+cuaTwTC43uLzdX1Pn63LD6uFw/4QgH24Ev2MmyjDkxugtqT6ufyMMamzqyIQ7snipeNA1jsohleTEIUMSqqpyW/AAW51oISk+zOlFvMSzboVkWAm9KcSIz4s8PGAnXynjfmRrF7C32X8=
