apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
- ../base
- ../default/machine-deployment.yaml
- ../../azure-cluster-identity

patches:
- path: ../../azure-cluster-identity/azurecluster-identity-ref.yaml
- path: patches/private-lb.yaml
- path: patches/apiserver-host-dns.yaml
- path: patches/azure-bastion.yaml

sortOptions:
  order: fifo
