apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.2/components.yaml
patchesStrategicMerge:
  - patches/control-plane-toleration.yaml