apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.6.3/components.yaml
patchesStrategicMerge:
  - patches/control-plane-toleration.yaml
patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: metrics-server
    namespace: kube-system
  path: patches/temp-use-insecure-https.yaml
