apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/Azure/azure-container-networking/4034aad0d7085f2a9e96cce6d2b50b81ea9ec900/hack/manifests/cni-installer-v1.yaml
