installation:
  cni:
    type: Calico
    ipam:
      type: HostLocal
  calicoNetwork:
    bgp: Disabled
    mtu: 1350
    ipPools:
    - blockSize: 122
      cidr: 2001:1234:5678:9a40::/58
      encapsulation: None
      natOutgoing: Enabled
      nodeSelector: all()
  registry: capzcicommunity.azurecr.io
# By default, tigera tolerates all NoSchedule taints. This breaks upgrades
# when it continuously gets scheduled onto an out-of-date Node that is being
# deleted. Tolerate only the NoSchedule taints that are expected.
tolerations:
  - effect: NoExecute
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
  - effect: NoSchedule
    key: node.kubernetes.io/not-ready
    operator: Exists
# Image and registry configuration for the tigera/operator pod.Add commentMore actions
tigeraOperator:
  image: tigera/operator
  registry: capzcicommunity.azurecr.io
calicoctl:
  image: capzcicommunity.azurecr.io/calico/ctl
