apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
- cluster-template.yaml
- ../../azure-cluster-identity
patches:
- path: ../../azure-cluster-identity/managedazurecluster-identity-ref.yaml

sortOptions:
  order: fifo
