---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: azureasomanagedmachinepools.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: AzureASOManagedMachinePool
    listKind: AzureASOManagedMachinePoolList
    plural: azureasomanagedmachinepools
    singular: azureasomanagedmachinepool
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AzureASOManagedMachinePool is the Schema for the azureasomanagedmachinepools
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AzureASOManagedMachinePoolSpec defines the desired state
              of AzureASOManagedMachinePool.
            type: object
          status:
            description: AzureASOManagedMachinePoolStatus defines the observed state
              of AzureASOManagedMachinePool.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
