apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
- ../base
- ../../azure-cluster-identity
- machine-deployment.yaml
patches:
- path: patches/dual-stack.yaml
- path: patches/kubeadm-controlplane.yaml
- path: patches/controlplane-azuremachinetemplate.yaml
- path: ../../azure-cluster-identity/azurecluster-identity-ref.yaml

sortOptions:
  order: fifo
