name: Lint Documentation
on:
  push:
    paths:
      - "docs/**"
    branches:
      - main
  pull_request:
    paths: "docs/**"
jobs:
  lint_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          use-quiet-mode: 'yes'
      - name: Install markdown-link-check
        run: npm install -g markdown-link-check
      - name: markdown-link-check
        run: find . -name \*.md | xargs -I{} markdown-link-check -c .markdownlinkcheck.json {}
